{
  "name": "connector_users_cos.config",
  "path": "config/connector_users_cos.config",
  "sha": "cf384b9edd98fea6c198b814ad8a9ab2dd5199e6",
  "size": 330,
  "url": "https://api.github.com/repos/confluentinc/kafka-connect-datagen/contents/config/connector_users_cos.config?ref=master",
  "html_url": "https://github.com/confluentinc/kafka-connect-datagen/blob/master/config/connector_users_cos.config",
  "git_url": "https://api.github.com/repos/confluentinc/kafka-connect-datagen/git/blobs/cf384b9edd98fea6c198b814ad8a9ab2dd5199e6",
  "download_url": "https://raw.githubusercontent.com/confluentinc/kafka-connect-datagen/master/config/connector_users_cos.config",
  "type": "file",
  "content": "ewogICJuYW1lIjogImRhdGFnZW4tdXNlcnMiLAogICJjb25maWciOiB7CiAg\nICAiY29ubmVjdG9yLmNsYXNzIjogImlvLmNvbmZsdWVudC5rYWZrYS5jb25u\nZWN0LmRhdGFnZW4uRGF0YWdlbkNvbm5lY3RvciIsCiAgICAia2V5LmNvbnZl\ncnRlciI6ICJvcmcuYXBhY2hlLmthZmthLmNvbm5lY3Quc3RvcmFnZS5TdHJp\nbmdDb252ZXJ0ZXIiLAogICAgImthZmthLnRvcGljIjogInVzZXJzIiwKICAg\nICJxdWlja3N0YXJ0IjogInVzZXJzIiwKICAgICJtYXguaW50ZXJ2YWwiOiAx\nMDAwLAogICAgIml0ZXJhdGlvbnMiOiAxMDAwMDAwMCwKICAgICJ0YXNrcy5t\nYXgiOiAiMSIKICB9Cn0K\n",
  "encoding": "base64",
  "_links": {
    "self": "https://api.github.com/repos/confluentinc/kafka-connect-datagen/contents/config/connector_users_cos.config?ref=master",
    "git": "https://api.github.com/repos/confluentinc/kafka-connect-datagen/git/blobs/cf384b9edd98fea6c198b814ad8a9ab2dd5199e6",
    "html": "https://github.com/confluentinc/kafka-connect-datagen/blob/master/config/connector_users_cos.config"
  }
}
