{
  "name": "connector_pageviews_cos.config",
  "path": "config/connector_pageviews_cos.config",
  "sha": "bda74d2f5f8ec1d7ca82184ea75ee755d55c45d7",
  "size": 341,
  "url": "https://api.github.com/repos/confluentinc/kafka-connect-datagen/contents/config/connector_pageviews_cos.config?ref=master",
  "html_url": "https://github.com/confluentinc/kafka-connect-datagen/blob/master/config/connector_pageviews_cos.config",
  "git_url": "https://api.github.com/repos/confluentinc/kafka-connect-datagen/git/blobs/bda74d2f5f8ec1d7ca82184ea75ee755d55c45d7",
  "download_url": "https://raw.githubusercontent.com/confluentinc/kafka-connect-datagen/master/config/connector_pageviews_cos.config",
  "type": "file",
  "content": "ewogICJuYW1lIjogImRhdGFnZW4tcGFnZXZpZXdzIiwKICAiY29uZmlnIjog\newogICAgImNvbm5lY3Rvci5jbGFzcyI6ICJpby5jb25mbHVlbnQua2Fma2Eu\nY29ubmVjdC5kYXRhZ2VuLkRhdGFnZW5Db25uZWN0b3IiLAogICAgImtleS5j\nb252ZXJ0ZXIiOiAib3JnLmFwYWNoZS5rYWZrYS5jb25uZWN0LnN0b3JhZ2Uu\nU3RyaW5nQ29udmVydGVyIiwKICAgICJrYWZrYS50b3BpYyI6ICJwYWdldmll\nd3MiLAogICAgInF1aWNrc3RhcnQiOiAicGFnZXZpZXdzIiwKICAgICJtYXgu\naW50ZXJ2YWwiOiAxMDAsCiAgICAiaXRlcmF0aW9ucyI6IDEwMDAwMDAwLAog\nICAgInRhc2tzLm1heCI6ICIxIgogIH0KfQo=\n",
  "encoding": "base64",
  "_links": {
    "self": "https://api.github.com/repos/confluentinc/kafka-connect-datagen/contents/config/connector_pageviews_cos.config?ref=master",
    "git": "https://api.github.com/repos/confluentinc/kafka-connect-datagen/git/blobs/bda74d2f5f8ec1d7ca82184ea75ee755d55c45d7",
    "html": "https://github.com/confluentinc/kafka-connect-datagen/blob/master/config/connector_pageviews_cos.config"
  }
}
